extends layout

block content
	div.container
		br
		div.row
			div.col-12.col-sm-12.col-md-6.col-lg-6
				.product-wrapper
					h1 #{product.product_title}
					p "#{product.body}"
					h4#price Price: $#{product.price}
					h4 Seller: #{user.firstname} #{user.lastname}
					h4 #{user.email}
					hr
					h6 #{product.category} | #{product.brand} | #{product.color}
					.posted-at
						| <em> Posted at: #{product.createdAt} </em>
			div.col-12.col-sm-12.col-md-6.col-lg-6
				.product-picture
					img(src=`${product.product_image}`)
		div.row
			div.col-12.col-sm-12.col-md-6.col-lg-6
				.commentform.text-center
					form.col.s12(action='/product_one/' + product.id, method='POST', autocomplete='off')
						h4 Leave a review
						textarea(rows='9', name='review', placeholder='review' id='commentarea')
						br
						button.btn.btn-default#commentbutton(type="submit", name="submit") SUBMIT
			div.col-12.col-sm-12.col-md-6.col-lg-6
				.comment-heading
					h4 User Reviews
				.comments
					if comments
						each comment in comments
							.single-comment
								h6 "#{comment.review}"
								h6 - #{comment.user.firstname}, #{comment.user.email}
								br
								.see-all
									| Date: #{comment.createdAt}

